<article class="card-solucion">
    <h3>{{ solucion.titulo }}</h3>
    <img src="{{ solucion.imagen }}" alt="{{ solucion.titulo }}" loading="lazy">
    <div class="back">
        <h3>{{ solucion.titulo }}</h3>
        <div class="wrap-content">
            <p>{{ solucion.descripcion }}</p>
            {% if solucion.url %}
                <a href="{{ solucion.url }}" class="btn">Conocer más</a>
            {% endif %}
        </div>
    </div>
</article>