<article class="card-portafolio">
  <a href="{{ proyecto.url }}">
    <div class="image-box">
      <img src="{{ proyecto.imagen }}" alt="{{ proyecto.titulo }}" loading="lazy">
    </div>
    <div class="info">
      <h3>{{ proyecto.titulo }}</h3>
      <p>{{ proyecto.descripcion }}</p>
    </div>
  </a>
</article>