/*colores*/
$primary-color: #0B785D; // El verde de Simian
$green-bg: #1a8a58; // Ajustar según el tono exacto de la imagen
$white: #ffffff;
$yellow-accent: #E2BC8D;
$banana-suave: #F4DF97;
$bg-cream: #FCF5EE;

$footer-bg: #363330;

/*colores adicionales*/
$bg-light: #f4f4f4;
$green-dark: #0e6f52;
$text-gray: #666;
$shadow: 0 10px 30px rgba(0,0,0,0.1);

/*tipografía*/
$ff-primary: 'Source Sans Pro', serif;
$ff-secondary: 'Vollkorn', serif;

/*base para rem*/
$base-font-size: 16px;