@use "../variables" as *;
@use "../functions" as *;
header {
    padding: 20px 0;
    color: #004d40;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease;

    body.scroll & {
        background-color: rgb(15 87 69 / 70%);
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
    }

    body:not(.home):not(.conocenos):not(.detalle-proyecto) & {
        background-color: $bg-cream;
    }

    .container { 
        justify-content: space-between;
    }

    .wrap-logo {
        .logo {
            img {
                height: 44px;
                width: auto;
            }
        }
    }
    .burger {
        display: none;
    }
    .nav-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: calc(100% - 200px);

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 40px;

            a {
                color: $primary-color;
                text-decoration: none;
                font-size: rem(24);
                font-weight: 600;
                transition: color 0.3s ease;

                &:hover {
                    color: $banana-suave;
                }

                // Cuando el body NO es .home
                body:not(.home):not(.conocenos):not(.detalle-proyecto) & {
                    color: $cafe-oscuro;
                }

                @media (max-width: 992px) {
                    font-size: rem(18);
                }

                @media (max-width: 600px) {
                    font-size: rem(16);
                }
            }

            @media (max-width: 992px) {
                column-gap: 30px;
            }
        }
        .lang {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            a {
                color: $primary-color;
                text-decoration: none;
                font-size: rem(16);
                font-weight: 500;
                transition: color 0.3s ease;

                &.active {
                    font-weight: 700;
                }
            }
        }
    }
}