@use "../variables" as *;
@use "../functions" as *;
header {
    padding: 10px 0;
    color: #004d40;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease;

    body.scroll & {
        background-color: rgb(15 87 69 / 70%);
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
    }    

    .container { 
        justify-content: space-between;
    }

    .wrap-logo {
        .logo {
            img {
                height: 44px;
                width: auto;
            }
        }
    }
    .burger {
        display: none;
    }
    .nav-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 200px);
        margin: 0 auto;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 40px;
            margin: 0 auto;

            a {
                color: $primary-color;
                text-decoration: none;
                font-size: rem(24);
                font-weight: 500;
                transition: color 0.3s ease;
                &:hover {
                    color: $banana-suave;
                }
            }
        }
        .lang {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            a {
                color: $primary-color;
                text-decoration: none;
                font-size: rem(16);
                font-weight: 500;
                transition: color 0.3s ease;

                &.active {
                    font-weight: 700;
                }
            }
        }
    }
}