---
layout: layouts/base.njk
css: not-found
title: "Página no encontrada | Simian.co"
description: "Lo sentimos, la página que buscas no existe o ha sido movida. Utiliza el menú principal para volver al inicio."
bodyClass: "not-found"
permalink: /404.html
is404: true
---

<section id="main-not-found">
    <div class="container">
        <div class="col-12">
            <img src="/assets/img/not-found/not-found-simian.webp" alt="404">
            <h1>Lo sentimos,</h1>
            <p>no encontramos la página que buscas.</p>
            <div class="wrap-buttons">
                <a href="/" class="btn btn-primary">Ir al inicio</a>
                <a href="/contacto/" class="btn btn-secondary">Contáctanos</a>
            </div>
        </div>
    </div>
</section>