---
layout: layouts/base.njk
css: detalle-servicio
title: "Diseño centrado en el usuario | Simian"
description: "Diseño centrado en el usuario. UX/UI, investigación y prototipado para crear experiencias que conectan."
bodyClass: "detalle-servicio"
otrosServicios:
  - titulo: "Estrategia de producto"
    imagen: "/assets/img/servicios/servicio-1.png"
    url: "/servicios/estrategia"
  - titulo: "Desarrollo"
    imagen: "/assets/img/servicios/servicio-3.png"
    url: "/servicios/desarrollo"
  - titulo: "Mantenimiento"
    imagen: "/assets/img/servicios/servicio-4.png"
    url: "/servicios/mantenimiento"
---
<section id="servicio-hero">
  <div class="hero-wrapper">
    <div class="container">
      <div class="servicio-content">
        <h1>Diseño centrado en el usuario</h1>
        <p>Nuestros diseños son funcionales porque nos enfocamos en crear productos que resuelven los problemas de las personas y nos aseguramos de que nuestra solución refleje y cumpla con los objetivos de tu marca. </p>
        
        <ul class="servicio-features">
          <li>Product strategy</li>
          <li>Design systems</li>
          <li>Project management</li>
          <li>Post-launch optimization</li>
          <li>User research & testing</li>
          <li>Information architecture</li>
          <li>Interaction & UX design</li>
          <li>Prototyping</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="servicio-hitos">
  <div class="container">
    <div class="hitos-wrapper">
      <h2>Hitos del proceso de diseño</h2>
      
      <div class="hitos-grid">
        <article class="hito-item">
          <h3>Definición de objetivos</h3>
          <p>Nuestra estrategia de diseño inicia con la identificación de tus necesidades como cliente. Esto nos lleva a vincular tus requerimientos de negocio con los objetivos de experiencia de usuario a los que se desean llegar. En esta fase lo que buscamos es establecer el punto de llegada para trazar nuestra ruta de desarrollo.</p>
        </article>
        
        <article class="hito-item">
          <h3>Arquitectura de la información</h3>
          <p>Los contenidos son esenciales para los productos que construimos, por lo tanto, realizamos un cuidadoso proceso de categorización y agrupación de tus contenidos para luego tomar decisiones de navegación fácilmente. Los mapas de sitio son piezas clave en nuestro proceso de diseño.</p>
        </article>
        
        <article class="hito-item">
          <h3>Diseño</h3>
          <p>Cumplimos con las expectativas de diseño y estilo de tu empresa porque llevamos las pautas de tu marca a nuestros componentes de interfaz. Seguimos las pautas del diseño atómico para obtener elementos reutilizables que nos optimizan la construcción wireframes y prototipos interactivos en nuestros flujos de usuario.</p>
        </article>
        
        <article class="hito-item">
          <h3>Investigación de usuario</h3>
          <p>Te ayudamos a identificar los puntos de dolor de tus personas usuarias. De acuerdo a las necesidades del proyecto, planeamos procesos de investigación cualitativos o cuantitativos que nos permitan escuchar la voz de las personas y conocer sus intereses para enfocar nuestra solución de desarrollo hacia sus necesidades. </p>
        </article>
      </div>
    </div>
  </div>
</section>

<section id="otros-servicios">
  <div class="container">
    <h2>Otros servicios</h2>
    
    <div class="otros-servicios-grid">
        {% for servicio in otrosServicios %}
          <a href="{{ servicio.url }}" class="otro-servicio-card">
            <div class="otro-servicio-image">
              <img src="{{ servicio.imagen }}" alt="{{ servicio.titulo }}" loading="lazy">
            </div>
            <div class="otro-servicio-separator">
                <h3>{{ servicio.titulo }}</h3>
            </div>            
          </a>
        {% endfor %}
    </div>
  </div>  
</section>