<footer id="main-footer">
  <div class="footer-content container">
    <div class="footer-brand">
      <h3>Escríbenos y comencemos a hacer tu proyecto realidad.</h3>
      <address>
        <a href="https://wa.me/573115992255"><i class="icofont-brand-whatsapp"></i> WhatsApp +57 311 599 2255</a>
        <a href="mailto:info@simian.co"><i class="icofont-envelope"></i> info@simian.co</a>
      </address>
    </div>

    <nav class="footer-links">
      <div class="nav-group">
        <h4>Servicios</h4>
        <ul>
          <li><a href="#">Estrategia de negocio</a></li>
          <li><a href="#">Diseño</a></li>
          <li><a href="#">Desarrollo</a></li>
          <li><a href="#">Entrenamiento y soporte</a></li>
        </ul>
      </div>
      <div class="nav-group">
        <h4>Nosotros</h4>
        <ul>
          <li><a href="#">Portafolio</a></li>
          <li><a href="#">Conócenos</a></li>
          <li><a href="/contacto/">Contáctanos</a></li>
        </ul>
      </div>
    </nav>

    <div class="footer-social">
      <a href="https://www.linkedin.com/company/simian-co/" aria-label="Facebook"><i class="icofont-facebook"></i></a>
      <a href="https://www.linkedin.com/company/simian-co/" aria-label="Twitter"><i class="icofont-x"></i></a>
      <a href="https://www.linkedin.com/company/simian-co/" aria-label="Instagram"><i class="icofont-instagram"></i></a>
      <a href="https://www.linkedin.com/company/simian-co/" aria-label="LinkedIn"><i class="icofont-linkedin"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="logo">
        <img src="/assets/img/logo-blanco-trans.png" alt="Simian Logo">
      </div>
      <div class="legal">
        <a href="#">Política de cookies</a> 
        <a href="#">Política de tratamiento de datos</a>
        <span>© Simian SAS - Todos los derechos reservados - 2022</span>
      </div>
    </div>    
  </div>
</footer>