<header>
    <div class="container">    
        <div class="wrap-logo">
            <a href="{{ site.url }}" class="logo">
                <img src="/assets/img/logo.png" alt="Simian">
            </a>
        </div>    
        
        <div class="nav-wrap">
            <nav>
                <a href="/portafolio/">Portafolio</a>
                <a href="/servicios/">Servicios</a>
                <a href="/conocenos/">Conócenos</a>
                <a href="/contacto/">Contacto</a>
            </nav>
            <div class="lang">
                <a href="?lang=es" class="active">Español</a>
                <span>•</span>
                <a href="?lang=en">English</a>
            </div>
            <button class="burger" aria-label="Menú">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>